{"configSettings":[{"appID":"SharedServerToken","serverToken":"3W5YBNF46OCZ2P5OKCYZJPKCAIHCHSLZ"},{"appID":"1494812794394660","serverToken":""},{"appID":"1452928845606991","serverToken":"3TDISDO2RBHDXTAXQDLJ2ASYFBFL5SSX"},{"appID":"729976732504796","serverToken":"3W5YBNF46OCZ2P5OKCYZJPKCAIHCHSLZ"}]}